@page
@model Robonauts.Pages.Workshop.IndexModel
@{
    ViewData["Title"] = "Workshops";
    Layout = "~/Pages/_CommonLayout.cshtml";
}

<div class="container">
    <div class="panel" style="background-color:#FFFFFF;" id="top">
        <div class="panel-heading">
            <h1 class="text-capitalize text-center" style="color:darkorange" ;>Workshops</h1>
        </div>
    </div>
    <div>
        <br />

        <p class="lead text-center text-justify">One of Robonauts's agenda is to spread the culture of robotics across India and we do this by conducting workshops and demonstrations on Robotics and Artificial Intelligence in schools and colleges. </p>
        <br />
        <h4 class="text-capitalize text-center">You Will Learn following from the workshops</h4>
        <br />

        <!--Syllabus-->
        <div>
            <!--First-->
            <div class="row">
                <div class="col-lg-4 col-xs-12 text-center">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title text-capitalize">Introduction to Robotics and Embedded Systems</h3>
                        </div>
                        <div class="panel-body text-justify">
                            <ul>
                                <li>Understanding an Embedded System</li>
                                <li>Components of a Robot</li>
                                <li>Difference between Robot and Embedded System</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12 text-center">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title text-capitalize">Basic concepts related to Robotics</h3>
                        </div>
                        <div class="panel-body text-justify">
                            <ul>
                                <li>Overview of basic electronics and digital electronics</li>
                                <li>Microcontroller vs. Microprocessor</li>
                                <li>Common features of Microcontroller</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12 text-center">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title text-capitalize">Sensors and Actuators</h3>
                        </div>
                        <div class="panel-body text-justify">
                            <ul>
                                <li>IR Sensors</li>
                                <li>Ultrasonic Sensors</li>
                                <li>White Line Sensors</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Second-->
            <div class="row">
                <div class="col-lg-4 col-xs-12 text-center">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title text-capitalize">Arduino Uno Programming and Circuitry</h3>
                        </div>
                        <div class="panel-body text-justify">
                            <ul>
                                <li>Programming protocols</li>
                                <li> Arduino Uno Electronics</li>
                                <li> Project: distance Sensor</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12 text-center">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title text-capitalize">ATMega Programming and Circuitry</h3>
                        </div>
                        <div class="panel-body text-justify">
                            <ul>
                                <li>ATMega Family</li>
                                <li>Embedded C Programming protocols</li>
                                <li>ATMega2560 Circuitry</li>
                                <li>Project: Remote control car using XBee</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12 text-center">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title text-capitalize">Raspberry Pi 3 Programming and Circuitry</h3>
                        </div>
                        <div class="panel-body text-justify">
                            <ul>
                                <li>Introduction to Python</li>
                                <li>Circuitry</li>
                                <li>Project: Unitor</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Third-->
            <div class="row">
                <div class="col-lg-4 col-xs-12 text-center">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title text-capitalize">Projects for Practical Learning</h3>
                        </div>
                        <div class="panel-body text-justify">
                            <ul>
                                <li>ATMega 2560: Remote control car using XBee</li>
                                <li>ATMega 2560: Line Follower</li>
                                <li>Arduino: Use of Distance Sensor</li>
                                <li>Raspberry Pi 3: Unitor</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <hr />
        <div class="row">
            <div class="col-lg-12 col-xs-12 text-capitalize text-center">
                <h3 class="text-capitalize text-center" style="color:darkred;">Click on the following Registration button to fill form for organising workshop</h3>
            </div>
            <div class="col-lg-12 col-xs-12 text-capitalize text-center">
                <a href="https://goo.gl/forms/8SrgxHgcIV6i9tBR2" class="btn btn-danger" style="background-color:;" target="_blank">Workshop Registration</a>
            </div>

        </div>

    </div>
</div>
<hr />
<br />
<br />
<div class="container">
    <div class="panel" style="background-color:#FFFFFF;" id="top">
        <div class="panel-heading">
            <h2 class="text-capitalize text-center" style="color:forestgreen;">Glimpses of Previous Workshops</h2>
        </div>
    </div>
    <div>
        <div class="row container" style="padding-top:20px; background-color:#D9EDF7;">
            <div class="col-md-4 col-xs-12 text-center">
                <img class="img-responsive" src="~/images/gallery/mu6.jpg" alt="PGDAV Workshop Pic" />
                <h4 class="caption text-center" style="color:mediumblue;">Mumbai University</h4>
                <a asp-page="MumbaiUniversity" style="color:mediumblue;">Click Here for More</a>
            </div>
            <div class="col-md-4 col-xs-12 text-center">
                <img class="img-responsive" src="~/images/gallery/mu3.jpg" alt="PGDAV Workshop Pic" />
                <h4 class="caption text-center" style="color:mediumblue;">Mumbai University</h4>
                <a asp-page="MumbaiUniversity" style="color:mediumblue;">Click Here for More</a>
            </div>
            <div class="col-md-4 col-xs-12 text-center">
                <img class="img-responsive" src="~/images/gallery/mu9.jpg" alt="PGDAV Workshop Pic" />
                <h4 class="caption text-center" style="color:mediumblue;">Mumbai University</h4>
                <a asp-page="MumbaiUniversity" style="color:mediumblue;">Click Here for More</a>
            </div>
        </div>
    </div>
    <br />
    <div>
        <div class="row container" style="padding-top:20px; background-color:#DFF0D8;">
            <div class="col-md-4 col-xs-12 text-center">
                <img class="img-responsive" src="~/images/gallery/pgdav4.jpg" alt="PGDAV Workshop Pic" />
                <h4 class="caption text-center" style="color:darkgreen;">PGDAV College</h4>
                <a asp-page="WorkshopPGDAV" style="color:darkgreen;">Click Here for More</a>
            </div>
            <div class="col-md-4 col-xs-12 text-center">
                <img class="img-responsive" src="~/images/gallery/pgdav5.jpg" alt="PGDAV Workshop Pic" />
                <h4 class="caption text-center" style="color:darkgreen;">PGDAV College</h4>
                <a asp-page="WorkshopPGDAV" style="color:darkgreen;">Click Here for More</a>
            </div>
            <div class="col-md-4 col-xs-12 text-center">
                <img class="img-responsive" src="~/images/gallery/pgdav6.jpg" alt="PGDAV Workshop Pic" />
                <h4 class="caption text-center" style="color:darkgreen;">PGDAV College</h4>
                <a asp-page="WorkshopPGDAV" style="color:darkgreen;">Click Here for More</a>
            </div>
        </div>
    </div>
    <br />
    <div>
        <div class="row container" style="padding-top:20px; background-color:#F2DEDE;">
            <div class="col-md-4 col-xs-12 text-center">
                <img class="img-responsive" src="~/images/gallery/ramanujan3.jpg" alt="PGDAV Workshop Pic" />
                <h4 class="caption text-center" style="color:firebrick;">Ramanujan College</h4>
                <a asp-page="RamanujanFreshers" style="color:firebrick;">Click Here for More</a>
            </div>
            <div class="col-md-4 col-xs-12 text-center">
                <img class="img-responsive" src="~/images/gallery/ramanujan4.jpg" alt="PGDAV Workshop Pic" />
                <h4 class="caption text-center" style="color:firebrick;">Ramanujan College</h4>
                <a asp-page="RamanujanFreshers" style="color:firebrick;">Click Here for More</a>
            </div>
            <div class="col-md-4 col-xs-12 text-center">
                <img class="img-responsive" src="~/images/gallery/ramanujan5.jpg" alt="PGDAV Workshop Pic" />
                <h4 class="caption text-center" style="color:firebrick;">Ramanujan College</h4>
                <a asp-page="RamanujanFreshers" style="color:firebrick;">Click Here for More</a>
            </div>
        </div>
    </div>
</div>

